<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>优优老师 - 用心的名校大学生家教平台</title>
    <meta id="metaKeywords" name="keywords" content="优优老师,优优家教,在线教育,老师,家教,优思家教,疯狂老师,跟谁学,轻轻家教,老师好,优优学,家教部,交通大学,交大,华东师范大学,华师大,财大,上外,华东理工">
    <meta name="description" content="优优老师，一个用心为中小学学生和家长提供优质家教咨询内容的O2O初创服务应用。优优老师涵盖上海各重点高校优秀在校生以及上海中小学优秀教师资源，以独有的数据匹配引擎为学生和家教推荐精确切且适合的教师资源。
优优家教覆盖上海复旦、交大、同济、财大等各高校的优秀在校学生对需要家教服务的学生提供优质的家教课程。目前包括K12领域语文、数学、英语、物理、化学、政治、历史、生物、地理科目的家教课程。优优老师致力于为每一个学生提供最全面和最优质的定制化服务。" />

    <meta name="baidu-site-verification" content="rMSEcIr0LO" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="http://www.uustudy.com.cn/img/logo.png" rel="shortcut icon" type="image/x-icon"/>
    <link href="__PUBLIC__/css/m_index.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
    <!--<script src="__PUBLIC__/js/m_index.js"></script>-->
</head>
<body style="background: #33829C">
     <h3 style="padding: 30px;text-align: center;color: white;position: fixed;top: 30%">移动端正在努力建设中......如有需要，请先用电脑访问或下载优优老师APP :)！</h3>
</body>
</html>