<!doctype html>
<html ng-app="app">
<head>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
<div ng-controller="myCtrl">
   {{test1}}
    <div ng-click='test()'>wewe</div>
</div>
<script>

    var app = angular.module('app', []);
    app.factory('test', function(){
            return 333
    });
    app.controller('myCtrl', function ($scope, test,$compile) {
        $scope.test1 = test;
        $scope.userName='Welcome to Angular World!';
        $scope.test = function test(){
            console.log('Angular 动态添加元素');
            var html="<div ng-click='test()'>wewe</div>";
            var template = angular.element(html);
            var mobileDialogElement = $compile(template)($scope);
            angular.element(document.body).append(mobileDialogElement);
        };
//通过$compile动态编译html


    });
</script>
</body>
</html>