body{
    background: #F8F8F8;
    font-family: Microsoft Yahei;
    width: 100%;
}
.remove:hover{
    color: red;
}
/*单产品*/
.m-dp{
    width: 100%;
    height:8em;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    background: #ffffff;
    font-size:1em;
    margin-top: 0.3em
}
.m-dp-a{
    width: 40%;
    height: 8em;
    text-align: center;
    float: left
}
.m-dp-a img{
    width: 7.3em
}
.m-dp-b{
    width: 50%;
    height:8em;
    float: left
}
.m-dp-c{
    width: 100%;
    height: 2em;
    margin-top: 0.5em
}
.m-dp-d{
    width: 100%;
    height: 2em;
    margin-top: 0.5em
}
.cc{
    color:#D0D0D0
}
.jg{
    color:#ff9801
}
.m-dp-e{
    width: 100%;
    margin-top: 0.5em;
    height:2em
}
.sl{
    width: 40px;
    float: left
}
/*数量*/
.cd-g{
    width:120%;
    height: 2em
    text-align: center;
    float: left;
}
#jia{
    cursor:pointer
}
.cd-g-a{
    background:#F0F0F0;
    width: 30px;
    float: left;
    text-align: center;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0
}
.cd-g a{
    color: #000000;
    text-decoration: none;
}
.shuliang-a{
    width: 40px;
    height: 27px;
    text-align: center;
    outline: none;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    border-left: none;
    border-right: none
}
.cd-g-b{
    background:#F0F0F0;
    width: 30px;
    float: left ;
    text-align: center;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0
}
/*取消*/
.m-dp-f{
    width:10%;
    height:7.9em;
    float: left;
    text-align: center;
    border-left: 1px solid #F0F0F0
}
.m-dp-f p{
    line-height: 5.2em;
    font-size: 1.5em
}
/*底部固定*/
.navbar-fixed-bottom{
    z-index: 999;
    background: #ffffff;
    height: 4em;
    border-top: 1px solid #F0F0F0
}
.db-a{
    width: 60%;
    height: 4em;
    line-height: 4em;
    float: left;
    text-align: center
}
.db-b{
    font-size: 1.5em
}
.db-c{
    color: #ff9801
}
.db-e{
    width: 40%;
    height: 4em;
    line-height: 4em;
    float: left;
    text-align: center;
    background:#ff9801
}
.db-e span{
    font-size: 1.5em;
    color: #ffffff
}