<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人资料首次认证</title>
    <link href="http://www.uustudy.com.cn/img/logo.png" rel="shortcut icon" type="image/x-icon"/>
    <link href="__PUBLIC__/css/f-center.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
    <script src="__PUBLIC__/js/f-center.js"></script>
    <script src="__PUBLIC__/js/imgfilecenter.js"></script>
    <script>
        $(document).ready(function(){
            //图片显示
            $.imageFileVisible({wrapSelector: "#image-wrap",
                fileSelector: "#file",
//                width:444,
            });
        });
    </script>
</head>
<body onload="load()">
<div class="header">
    <div class="header_wrap container">
        <div class="c12">
            <div class="c7">
                <a><img  src="__PUBLIC__/img/center/2.png"></a>
                <img src="__PUBLIC__/img/center/3.png"></div>
            <div class="c5">
                 <div class="c9"><p>用户名：{$_SESSION['userName']}</p></div>
                 <div class="c3"><a href='__APP__/home/Login/logout'><img src="__PUBLIC__/img/center/4.png"></a></div>
            </div>
        </div>
    </div>
</div>
<!--进度条-->
<div class="container progress">
     <div class="c4"><img src="__PUBLIC__/img/center/pro1a.png"><p>个人资料</p></div>
     <div class="c4"><img src="__PUBLIC__/img/center/pro2b.png"><p>开设课程</p></div>
     <div class="c4"><img src="__PUBLIC__/img/center/pro3b.png"><p>老师认证</p></div>
</div>
<!--内容-->
<div class="container" style="background: #EAEAEA">
    <!--<div class="c2 menu">-->
        <!--<div class="wrap1">-->
            <!--<div class="c12">-->
                <!--<div class="c4"><img src="__PUBLIC__/img/center/6.png"></div>-->
                <!--<div class="c8"><p>个人资料</p></div>-->
            <!--</div>-->
            <!--<div class="c12">-->
                <!--<div class="c4"><img src="__PUBLIC__/img/center/8.png"></div>-->
                <!--<div class="c8"><p>开设课程</p></div>-->
            <!--</div>-->
            <!--<div class="c12">-->
                <!--<div class="c4"><img src="__PUBLIC__/img/center/7.png"></div>-->
                <!--<div class="c8"><p>老师认证</p></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="c1">&nbsp;</div>
    <div class="c9 con">
       <form  action="__APP__/home/TeacherCenter/setDetailVerify" enctype="multipart/form-data" method="post" id="person">
          <div class="c10 pic">
              <div id="image-wrap"><img class="defimg" style="width: 110px;height: 110px" id="def_im"  src={$picUrl|default="__PUBLIC__/img/center/def-im.png"}></div>
              <input id="file" class="sign" type="file" name="photo">
          </div>
          <div style="clear: both"></div>
          <div class="c10 basic">
              <div class="c3"><p>姓名</p></div>
              <div class="c9">
                  <p>{$_SESSION['userName']}</p>
              </div>
          </div>
          <div class="c10 basic">
             <div class="c3"><p>性别</p></div>
             <div class="c9">
                 <p>{$_SESSION['sex']}</p>
             </div>
         </div>
         <div class="c10 input">
              <div class="c3"><p>签名 <img class="tit" src="__PUBLIC__/img/center/11.png"></p></div>
              <div class="c9">
                  <input id="sign" type="text" name="signiture" value={$signiture}>
              </div>
         </div>
         <div class="c10 input">
             <div class="c3"><p>教龄(年) <img class="tit" src="__PUBLIC__/img/center/11.png"></p></div>
             <div class="c9">
                 <select name="teachingAge" id="tc_age">
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                 </select>
             </div>
         </div>
         <div class="c10 new">
             <div class="c3"><p>个人简介 <img class="tit" src="__PUBLIC__/img/center/11.png"></p></div>
             <div class="c9">
                 <textarea onload="textLoad(this)" name="achivement" id="tc_per" maxlength="200" >{$achivement}</textarea>
				 <small class="fonttip"></small>
             </div>
         </div>
         <div class="c10 new">
             <div class="c3"><p>教学特色 <img class="tit" src="__PUBLIC__/img/center/11.png"></p></div>
             <div class="c9">
                 <textarea name="teachingPoint" id="tc_spe" maxlength="200" >{$teachingpoint}</textarea>
				 <small class="fonttip">您还可以输入200字</small>
             </div>
         </div>
        <div class="c10 new">
            <div class="c3"><p>教学经历</p></div>
            <div class="c9">
                <textarea name="otherWork" id="tc_thr" maxlength="200">{$otherwork}</textarea>
				<small class="fonttip">您还可以输入200字</small>
            </div>
        </div>
        <div class="c10 new">
            <div class="c3"><p>荣誉奖项</p></div>
            <div class="c9">
                <textarea name="honor" id="tc_hav" maxlength="200" >{$honor}</textarea>
				<small class="fonttip">您还可以输入200字</small>
            </div>
        </div>
        </form>
		 <style>
                 .fonttip{
                     display: inline-block;
                     left: 330px;
                     top: 126px;
                     position:absolute;
                 }
             </style>
             <script>
               $(document).ready(function(){
                  $("textarea").click(function(){
                      eee=$(this);
                      setInterval(function(){
                          var l=eee.val().length;
                          var ll=200-l;
                          eee.next().text("你还可以输入"+ll+"字");
                      },100)
                  })
               })
             </script>

        <div class="c10 warning">
            <div class="c12"><p><img src="__PUBLIC__/img/center/11.png">有此标记为必填项</p></div>
        </div>
        <div class="c10 con_ok">
            <div id="sub" class="c12"><img src="__PUBLIC__/img/center/next.png"></div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
<!--底部-->
<div class="full footer">
    <div class="container">
        <div class="c12 foot_wrap">
            <div class="c5 foo_logo">
                <div class="c2">
                    <img src="__PUBLIC__/img/tc_home/25.png">
                </div>
                <div class="c9">
                    <p class="co_name">上海优优教育科技有限公司&nbsp版权所有</p>
                    <p>Copyright @ 2015  All Rights Reserved.</p>
                </div>
                <div class="c1">
                    <img src="__PUBLIC__/img/tc_home/26.png">
                </div>
            </div>
            <div class="c2 foo_wx">
                <div class="c6">
                    <img src="__PUBLIC__/img/tc_home/wx.png">
                </div>
                <div class="c6">
                    <p>扫描微信公众号</p>
                </div>
            </div>
            <div class="c5 foo_call" >
                <div class="c1">
                    <img src="__PUBLIC__/img/tc_home/26.png">
                </div>
                <div class="c11">
                    <div class="call">
                        <img src="__PUBLIC__/img/tc_home/27.png">
                        <p>021-64666013</p>
                    </div>
                    <div class="call add">
                        <img src="__PUBLIC__/img/tc_home/28.png">
                        <p>上海市徐汇区虹桥路333号交大慧谷四楼</p>
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>