<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
    <link href="http://www.uustudy.com.cn/img/logo.png" rel="shortcut icon" type="image/x-icon"/>
    <link href="__PUBLIC__/admin/css/login.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/admin/js/jquery-2.1.1.min.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.cookie.js"></script>
    <script src="__PUBLIC__/admin/js/login.js"></script>
</head>
<body>
          <div class="form_wrap">
                  <div class="c12 input_wrap input_user">
                      <div class="c1">&nbsp;</div>
                      <div class="c10">
                          <div class="c2"><img src="__PUBLIC__/admin/img/2.png"></div>
                          <div class="c10"><input type="text" id="user" name="telephone"></div>
                      </div>
                      <div class="c1">&nbsp;</div>
                  </div>
                  <div class="c12 input_wrap input_pass">
                      <div class="c1">&nbsp;</div>
                      <div class="c10">
                          <div class="c2"><img src="__PUBLIC__/admin/img/3.png"></div>
                          <div class="c10"> <input type="password" id="pass" name="password"></div>
                      </div>
                      <div class="c1">&nbsp;</div>
                  </div>
                  <div class="c12 input_wrap input_btn">
                      <div class="c2">&nbsp;</div>
                      <div class="c9">
                         <button  id="sub">登&nbsp;录</button>
                      </div>
                  </div>
                  <div class="c12 input_tip">
                      <div class="c1">&nbsp;</div>
                      <div class="c10">
                          <div class="c6 ">
                              <div class="c4 check">
                                  <input type="checkbox"  name="chkRememberUsername" class="checkbox" id="rmbUser">
                              </div>
                              <div class="c8 checktip">记住密码</div>
                          </div>
                          <div class="c5 forget" style="text-align: right"><a href="">忘记密码</a></div>
                      </div>
                      <div class="c1">&nbsp;</div>
                  </div>
          </div>
</body>
</html>