<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>身份首次认证</title>
    <link href="http://www.uustudy.com.cn/img/logo.png" rel="shortcut icon" type="image/x-icon"/>
    <link href="__PUBLIC__/css/mfalse.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
    <script src="__PUBLIC__/js/mfalse.js"></script>
</head>
<body onload="load()">
<div class="header">
    <div class="header_wrap container">
        <div class="c12">
            <div class="c7">
                <a><img  src="__PUBLIC__/img/center/2.png"></a>
                <img src="__PUBLIC__/img/center/3.png"></div>
            <div class="c5">
                 <div class="c9"><p>用户名：{$_SESSION['userName']}</p></div>
                 <div class="c3"><a href='__APP__/home/Login/logout'><img src="__PUBLIC__/img/center/4.png"></a></div>
            </div>
        </div>
    </div>
</div>
<!--进度条-->
<div class="container progress">
    <div class="c4"><img src="__PUBLIC__/img/center/pro1a.png"><p>个人资料</p></div>
    <div class="c4"><img src="__PUBLIC__/img/center/pro2a.png"><p>开设课程</p></div>
    <div class="c4"><img src="__PUBLIC__/img/center/pro3a.png"><p>老师认证</p></div>
</div>
<!--内容-->
<div class="container" style="background: #EAEAEA">
    <!--<div class="c2 menu">-->
        <!--<div class="wrap1">-->
            <!--<div class="c12">-->
                <!--<div class="c4"><img src="__PUBLIC__/img/certification/5.png"></div>-->
                <!--<div class="c8"><p>个人资料</p></div>-->
            <!--</div>-->
            <!--<div class="c12">-->
                <!--<div class="c4"><img src="__PUBLIC__/img/center/8.png"></div>-->
                <!--<div class="c8"><p>开设课程</p></div>-->
            <!--</div>-->
            <!--<div class="c12">-->
                <!--<div class="c4"><img src="__PUBLIC__/img/certification/6.png"></div>-->
                <!--<div class="c8"><p>老师认证</p></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="c9 con true">
        <div style="clear: both"></div>
        <div class="c10 mid_pic">
            <br/> <br/> <br/> <br/>
            <img src="__PUBLIC__/img/middle/f5.png" >
            <br/><br/> <br/>
            <img src="__PUBLIC__/img/middle/f3.png" ><br/><br/>
            <img src="__PUBLIC__/img/middle/f1.png" ><br/><br/>
            &nbsp;<img src="__PUBLIC__/img/middle/f2.png" >
            <br/>
        </div>
        <div class="c10 input" style="text-align: center">
            <a class="submit" href="__APP__/home/TeacherCenter/teacherCenter"><img src="__PUBLIC__/img/middle/f4.png"></a>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
<br/><br/><br/>
<!--底部-->
<div class="full footer">
    <div class="container">
        <div class="c12 foot_wrap">
            <div class="c5 foo_logo">
                <div class="c2">
                    <img src="__PUBLIC__/img/tc_home/25.png">
                </div>
                <div class="c9">
                    <p class="co_name">上海优优教育科技有限公司&nbsp版权所有</p>
                    <p>Copyright @ 2015  All Rights Reserved.</p>
                </div>
                <div class="c1">
                    <img src="__PUBLIC__/img/tc_home/26.png">
                </div>
            </div>
            <div class="c2 foo_wx">
                <div class="c6">
                    <img src="__PUBLIC__/img/tc_home/wx.png">
                </div>
                <div class="c6">
                    <p>扫描微信公众号</p>
                </div>
            </div>
            <div class="c5 foo_call" >
                <div class="c1">
                    <img src="__PUBLIC__/img/tc_home/26.png">
                </div>
                <div class="c11">
                    <div class="call">
                        <img src="__PUBLIC__/img/tc_home/27.png">
                        <p>021-64666013</p>
                    </div>
                    <div class="call add">
                        <img src="__PUBLIC__/img/tc_home/28.png">
                        <p>上海市徐汇区虹桥路333号交大慧谷四楼</p>
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>