body{
   width: 100%;
    font-family: "Helvetica", "Microsoft YaHei", sans-serif;
}
body,div,{
    margin: 0;
    padding: 0;
}
/*头部*/
.nav{
    width: 100%;
    height: 80px;
    min-width: 1000px;
    /*background: #FFFFCC;*/
}
.nav-a{
    width: 1000px;
    height: 80px;
    margin: auto;
}
.nav-a-a{
    width: 55%;
    height: 80px;
    line-height: 80px;
    float: left;
}
.nav-a-a a{
    font-size: 26px;
    color: #FF9900;
    text-decoration: none;
    font-weight: 500;
}
.nav-a-b{
    width: 15%;
    height: 80px;
    line-height: 80px;
    float: left;
    text-align:right;
}
.nav-a-b a{
    color: #515151;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}
.nav-a-b a:hover{
    color: #FF9900;
}
.tc{
    width: 100%;
    height: 20px;
    background: #F8F8F8;
    min-width: 1000px
}
/*账户*/

/*底部*/
.db{
    width: 100%;
    min-width: 1000px;
    height: 100px;
    line-height: 100px;
}
.db-a{
    width: 1000px;
    text-align: left;
    margin: auto
}