*{
    font-family: "Helvetica", "Microsoft YaHei", sans-serif;
}
body{
    background:#F4F4F4;
    padding: 0;
    margin: 0;
    font-family: Microsoft Yahei;
}

.dl{
    background:#F4F4F4;
    /*min-width:800px;*/
    margin-top: 20%
}
/*logo*/
.logo{
    height: 80px;
    text-align: center
}
.logo-logo{
    height:60px;
    width: 60px;
    background:#ff9801;
    margin:auto
}
.logo-logo span{
    line-height:60px
}
/*标题和表单*/
.tit-1{
    text-align: center;
    font-size: 25px
}
.tab a{
    color: #8d8d8d;

}
.tab a:hover{
    color: #FF3300;
}
.tab button:hover{
    background: #FF9966;
}
.tab{
    margin-top: 10px
}
.tab p{
    text-align: center
}
.fm{
    text-align:center;
    margin-top: 30px
}
.fm-tel{
    height:46px;
    width:340px;
    background: #fff;
    margin: 0 auto;
    border: 1px solid #F0F0F0
}
.fm-tel input{
    background: #fff;
    width:320px;
    height: 20px;
    margin-top: 13px;
    outline: none;border: none
}
.fm-pw{
    height: 46px;
    width:340px;
    background:  #fff;
    margin:10px auto;
    border: 1px solid #F0F0F0
}
.fm-pw input{
    background: #fff;
    width:320px;
    height: 20px;
    margin-top: 13px;
    outline: none;border: none
}
.fm-dl-dl{
    width: 340px;
    height:46px;
    background:#ff9801;
    border: none;
    outline: none
}
.fm-dl-dl span{
    font-size:15px;
	color:#FFF
}
.fm-wm{
    margin-top:10px
}
.fm-wm a{
    color:#8d8d8d;margin-left: 240px
}
.fm-lz{
    margin-top: 10px
}
.fm-lz-lz{
    width: 340px;
    height:46px;
    background:  #fff;
    border:1px solid #F0F0F0;
    outline: none
}
.fm-lz-lz:hover{
	background:#858585;
}
.fm-lz-lz span{
    font-size:15px
}
/*底部*/
.tab-b{
    margin-top: 280px
}
.tab-b-b{
    text-align: center
}
.tab-b-sp{
    color: #8d8d8d
}
.tab-c{
    margin-top:10px
}
.tab-c p{
    text-align: center
}
#clogin{
    margin: 10px auto;color: red
}
.noplay{
    display: none;
}
