*{
    font-family: "Helvetica", "Microsoft YaHei", sans-serif;
}
body{
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: Microsoft Yahei;
}
/*头部*/
.nv{
    width: 100%;
    height: 100px;
    font-size: 12px;
    min-width: 1230px;
    border-bottom: 2px solid #ff9801;
}
.nv-a{
    height: 74px;
    width: 1230px;
}
.logo-img{
    width: 48px;
    height: 48px;
    background:#ff9801 ;
    margin-top: 26px;
    float: left;
    position: absolute;
}

.logo{
    float: left;
    overflow: hidden;
    width: 48px;
    height: 48px;
}
.zh{
    float:right;
    margin-right: 0;
    margin-top: 33px;

}
.dl, .zc{
    height: 40px;
    width:60px;
    float: left;
    text-align: center;
}
.fen{
    float: left;
}
.zh a{
    line-height: 40px;
    color: #757575;
    text-decoration: none;
    outline: none;
}
.zh span{
    line-height: 40px;
    color: #757575;
}
.qrdd{
    float: left;
    margin-top: 10px;
    margin-left: 20px
}
/*详情*/
.tjdzan:hover{
    background: #ff9801;
}
.dd-shdz{
    width: 100%;
    min-width: 1230px;
    background:#F8F8F8
}
.dd-shdz-tc{
    width: 1230px;
    background:#F8F8F8;
    height: 40px
}
.dd-shdz-a{
    width: 1230px;
    background:#ffffff
}
.dd-shdz-b{
    font-size: 18px;
    margin-left: 40px;
    margin-top: 80px;
    float: left;
    width:150px
}
.dd-mt{
    background:#ffffff;
    text-align: center;
    float: left
}
.dd-czdz{
    background:#ffffff;
    margin-left: 40px;
    text-align:left;
    float: left;
    margin-top: 80px;
    margin-right:10px;
    max-width: 800px;
    overflow: hidden
}
#shdz{
    font-size:16px;
    color: #909090
}
.tjdzank{
    float: left;
    text-align: left
}
.dd-tjantb{
    margin-top:80px;
    outline: none;
    border: none;
    width: 40px;
    border-radius:5px;
    color: #ffffff;
    background: #ff9801
}
.dd-tjdzbq{
    color: #C8C8C8
}
#shdz-xm{
    width: 300px
}
#shdz-tel{
    width: 300px;
    margin-top: 20px
}
#shdz-dz{
    width: 300px;
    height: 100px;
    margin-top: 20px
}
#shdz-bq{
    width: 300px;
    margin-top: 20px
}
.dd-shdz-tc2{
    width: 1230px;
    background: #ffffff
}
.dd-shdz-tc3{
    width:1150px;
    height: 10px;
    border-bottom: 1px solid #D0D0D0;
    background: #ffffff
}
.dd-zfps{
    width: 1230px;
    background: #ffffff
}
.dd-zfps-a{
    width: 1150px;
    margin-top:40px;
    border-bottom: 1px solid #D0D0D0
}
.dd-zfps-b{
    width:200px;
    height:60px;
    float: left
}
.dd-zfps-c{
    font-size:18px;
    line-height:60px
}
.dd-zfps-d{
    width: 200px;
    height:60px;
    float: left
}
.dd-zfps-e{
    font-size:18px;
    line-height:60px;
    color:#ff9801
}
.dd-fp-gr{
    width:500px;
    height:60px;
    float: left
}
#grfp{
    margin-top: 25px
}
#dwtt{
    margin-left: 50px;
    width: 250px;
    display:none
}
.dd-xq-a{
    width: 1230px;
    background: #ffffff
}
.dd-xq-b{
    width: 1150px;
    margin-top:40px;
    border-bottom: 1px solid #D0D0D0
}
.dd-xq-c{
    width:790px;
    height:60px;
    float: left
}
.dd-xq-d{
    height: 50px;
    width: 50px;
    border: 1px solid #B8B8B8
}
.dd-xq-e{
    width:120px;
    height: 60px;
    float: left
}
.dd-xq-f{
    margin-top: 20px
}
.dd-xq-g{
    margin-top: 20px;
    color: #ff9801
}
.dd-js-a{
    width: 1230px;
    background: #ffffff
}
.dd-js-b{
    width: 1150px;
    margin-top:40px;
    border-bottom: 1px solid #D0D0D0;
    color: #ff9801
}
.dd-js-c{
    width:200px;
    margin-left: 940px
}
.dd-js-d{
    width:200px;
    margin-left: 940px;
    margin-top: 10px
}
.dd-js-e{
    width:200px;
    margin-left: 940px;
    margin-top: 10px;
    margin-bottom: 10px
}
.dd-js-f{
    width: 1150px;
    margin-top:40px;
    color: #ff9801;
    border-bottom: 1px solid #D0D0D0 ;
    margin-bottom: 40px
}
.dd-js-g{
    width:900px;
    float: left
}
#zzshdz{
    color: #000000
}
.dd-js-h{
    width:250px;
    float: left
}
.dd-js-h button{
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
    color: #ffffff;
    background:#ff9801;
    outline: none
}
.dd-db-a{
    width: 100% ;
    min-width: 1230px ;
    height:40px;
    border-bottom: 1px solid #D8D8D8;
    background:#F8F8F8
}
.dd-db-b{
    text-align: center;
    margin: 80px auto
}
