*{
    font-family: "Helvetica", "Microsoft YaHei", sans-serif;
}
body{
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: Microsoft Yahei;
}
/*头部*/
.nv{
    width: 100%;
    height: 100px;
    font-size: 12px;
    min-width: 1230px;
    border-bottom: 2px solid #ff9801;
}
.nv-a{
    height: 74px;
    width: 1230px;

}
.logo-img{
    width: 48px;
    height: 48px;
    background:#ff9801 ;
    margin-top: 26px;
    float: left;
    position: absolute;
}

.logo{
    float: left;
    overflow: hidden;
    width: 48px;
    height: 48px;
}
.zh{
    float:right;
    margin-right: 0;
    margin-top: 33px;

}
.dl, .zc{
    height: 40px;
    width:60px;
    float: left;
    text-align: center;
}
.fen{
    float: left;
}
.zh a{
    line-height: 40px;
    color: #757575;
    text-decoration: none;
    outline: none;
}
.zh span{
    line-height: 40px;
    color: #757575;
}
/*详情*/
.xq{
    width: 100%;
    height: 600px;
    font-size: 12px;
    min-width: 1230px;
    background:#F8F8F8;
}
.xq-a{
    width: 1230px;
    /*height: 600px;*/
}
.xq-cd{
    height: 70px;
    background:#ffffff;
    margin-top: 60px;
    border: 1px solid #F0F0F0;
    text-align: center;
    font-size: 18px;
}
.cd-a{
    width: 15%;
    float: left;

    line-height: 70px;
}
.cd-b{
    width: 25%;
    float: left;
    line-height: 70px;
    text-align: left;
}
.cd-c{
    width: 12%;
    float: left;
    line-height: 70px;
}
.xq-cp{
    height:151px;
    background:#ffffff;
    border: 1px solid #F0F0F0;
    text-align: center;
    font-size: 18px;
}
.cd-d{
    width: 15%;
    float: left;

    line-height: 151px;
}
.cd-e{
    width: 25%;
    float: left;
    line-height: 151px;
    text-align: left;
}
.cd-f{
    width: 12%;
    float: left;
    line-height: 151px;
}
.cd-g{
    width: 12%;
    float: left;
    text-align: center;
    margin-top: 65px;

}
.cd-g-a{
    background:#F0F0F0;
    width: 30px;
    float: left;
    margin-left: 42px;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0
}
.cd-g a{
    color: #000000;
    text-decoration: none;
}
.shuliang-a{
    width: 40px;
    height: 27px;
    text-align: center;
    outline: none;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    border-left: none;
    border-right: none
}
.cd-g-b{
    background:#F0F0F0;
    width: 30px;
    float: left ;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0
}
/*最终结算*/
.xq-zzjs{
    height: 50px;
    background:#ffffff;
    border: 1px solid #E8E8E8;
    margin-top: 30px;
    line-height: 50px;
}

.xq-zzjs-a{
    width: 60%;
    height: 50px;
    float: left;
    margin-left: 0;

}
.xq-zzjs-b{
     width: 20%;
     height: 50px;
     float: left;
 }
.xq-zzjs-c{
    width: 20%;
    height: 50px;
    float: left;
}
.xq-zzjs-c  button{
    width: 100%;
    height: 49px;
    color: #ffffff;
    background: #ff9801;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.xq-zzjs-c  button:hover{
    background:#FF7700;
}