*{
    font-family: "Helvetica", "Microsoft YaHei", sans-serif;
}
/*账户*/
.zhanghu-x{
    width: 100%;
    min-width: 1230px;
}
.zhanghu-b{
    width: 1230px;
    height:48px;
    margin-top: 20px;
    line-height: 48px;
}
.zhanghu-b a{
    color:#A8A8A8;
    text-decoration: none;
}
.zhanghu-b a:hover{
    color: #000000;
}

.zhanghu-c{
    width: 1230px;
}
/*账户菜单*/
.zhanghu-cd{
    width: 240px;
    height:600px;
    float: left;
    background: #F8F8F8;
}
.zhanghu-xx{
    width: 960px;
    height:601px;
    float:left;
    margin-left: 30px;
    padding: 0;
}
.zhanghu-yc{
    background: #F8F8F8;
}
.zhanghu-cd1{
    width: 240px;
    height: 83.33px;
    line-height: 83.33px;
    font-size: 16px;
    text-align:center;
}
.zhanghu-cd1:hover{

}
.zhanghu-cd1 a{
    text-decoration: none;
    color: #909090;
}
.tb-grzx{
    float: left;
    margin-top: 10px;
    margin-left: 20px
}
.zhanghu-cd1 a:hover{
    color: #000000;
}
/*账户图片*/
.zhanghu-tp{
    width: 930px;
    height: 350px;
    margin-left: 30px;
    border-bottom: 1px solid #D8D8D8;
}
.zhanghu-tp-tp{
    width: 450px;
    height: 249px;
    float: left;
    text-align: center;

}
.zhanghu-tp-a{
    width:160px;
    height: 160px ;
    border-radius: 100px;
    margin-top: 30px
}
.zhanghu-xm{
    font-size: 24px
}
.grzh-bdsj{
    margin-top: 50px
}
.zhanghu-tp-zh{
    width: 450px;
    height: 249px;
    float: left;
    text-align: left;
    font-size: 1.2em;
}
.zhanghu-tp-tp a{
    color:#ff9801 ;
    text-decoration: none;
}
/*账户订单*/
.zhanghu-dd{
    width: 930px;
    height: 249px;
    margin-left: 30px;
}
.grzx-dzf{
    font-size: 20px
}
.zhanghu-dd-dd{
    float: left;
    width: 50%;
    margin-top: 40px;
    text-align: center;
}
.grzx-dsh{
    font-size: 20px
}
.zhanghu-dd a{
    color:#909090;
    text-decoration: none;
}
.zhanghu-dd a:hover{
    color: #ff9801;
}
.dbtc{
    text-align: center;
    margin: 40px auto;
    /*border-bottom: 1px solid#A8A8A8;*/
    width: 1230px
}
.db-bq{
    text-align: center;
    margin: 40px auto
}
/*头像*/
.file {
    position: relative;
    display: inline-block;
    background: #ff9801;
    padding: 0 12px;
    overflow: hidden;
    color: #99D3F5;
    text-decoration: none;
    text-indent: 0;
    line-height: 40px;
    width: 50%;
    height: 35px;
    text-align: center;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file button{
    width: 100%;
    height: 40px;
    font-size: 15px;
}
.file span{
    color: #ffffff
}
.scsc{
    background:#ff9801;
    border: none ;
    height: 35px;
    width: 50%;
    color: #ffffff
}
#div_avatar{
    display: none;
    overflow:hidden
}
#picture_original{
    width:400px;
    height:400px;
    overflow:hidden;
    float:left;
}
#picture_200{
    float:left;
    margin-left:20px
}
.jcsc{
    color: #ffffff;
    background:#ff9801;
    border: none ;
    height: 35px;
    width:50%
}

.file {
    position: relative;
    display: inline-block;
    background: #fee55c;
    border-radius: 4px;
    padding: 0 12px;
    overflow: hidden;
    color: #99D3F5;
    text-decoration: none;
    text-indent: 0;
    line-height: 40px;
    width: 698px;
    height: 40px;
    text-align: center;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
.aaa{
    color: #888888;
}
.bbb{
    color: #ff9801;
}
.xg{
    color: darkblue;
    font-size: 0.7em;
    cursor: pointer;
}
/*红包*/
.hb{
    margin-top:50px;
    margin-left: 50px;
    display: none
}
.hb img{
    margin-top: 20px;
    border: 1px solid #E8E8E8;
    width: 100%;
    margin-left: 10px;
    float: left
}