nav{
	background: #000;position:absolute;z-index:999;width:100%;margin:0;min-width: 1230px;
}
.nav-logo{
    width: 12%;
}
.nav-a{
    width: 11%;
    text-align: right;
}
.nav-a span{
    cursor: pointer;
    color: #F8F8F8;
    transition:color 0.5s;
    -moz-transition:color 0.5s;	/* Firefox 4 */
    -webkit-transition:color 0.5s;	/* Safari �� Chrome */
    -o-transition:color 0.5s;	/* Opera */
}

.nav-a span:hover{
    color: #ff9801;
}
.ssq{
    text-decoration: none;
    color: #FFF;
    transition:color 0.5s;
    -moz-transition:color 0.5s;	/* Firefox 4 */
    -webkit-transition:color 0.5s;	/* Safari �� Chrome */
    -o-transition:color 0.5s;	/* Opera */
}
.ssq:hover{
    color: #ff9801;
}

.nav-logo,.nav-a{
    float: left;
    line-height: 50px;
    font-size: 1.1em;
    height: 50px;
    color: #FFF;
}
.nav-b{
    width: 84%;
    display: none;
    float: left;
    height: 50px;
    color: #FFF;
    font-size: 1.1em;
}
.nav-b .col-md-10{
    height: 50px;
    margin: 0;
    padding-top: 10px;
}
.nav-b .col-md-2{
    height: 50px;
    line-height: 50px;
}
.nav-b input{
    height: 30px;
    width: 88%;
    background: #000;
    border: none;
    outline: none;
}
#nav-m .col-xs-4{
    height: 50px;
    line-height: 50px;
}
#collapseOne .col-md-2,.col-md-10{
    margin-top: 1.5em;
}
#collapseOne{
    background:rgba(0,0,0,0.5);
    width: 150px;
    height: 205px;
    margin-left: 38px;
    color:#C0C0C0;
    text-align: left;
    z-index: 999;
    border-radius: 4px;
    /*border-bottom: 1px solid #888888;*/
    /*border-left:  1px solid #888888;*/
    /*border-right:  1px solid #888888;*/
    /*padding-top: 10px;*/
}
#collapseOne .col-md-12{
    border-bottom: 1px solid #888888;
}
#collapseOne a{
	color:#FFF
}

#collapseOne a:hover{
    color: #ff9801;
    text-decoration: none;
}
.menu{
    width: 100%;height: 200px;top: 50px;position: absolute;z-index: 999;background: rgb(255,255,255);
    display: none;border-bottom: 1px solid #E8E8E8;
    box-shadow: 0 2px 10px #A0A0A0;
}

#y-1,#y-2{
    display: none;
}

#y-1 .col-md-12,.col-md-10{
    margin-top: 20px;
}
#y-1 .col-md-2{
    border-right: 1px solid #E8E8E8;
    height: 200px;
    font-size: 1.2em;
}
#y-2 .col-md-12,.col-md-10{
    margin-top: 20px;
}
#y-2 .col-md-2{
    border-right: 1px solid #E8E8E8;
    height: 200px;
    font-size: 1.2em;
}
#y-4 .col-md-12,.col-md-10{
    margin-top: 20px;
}
#y-4 .col-md-2{
    border-right: 1px solid #E8E8E8;
    height: 200px;
    font-size: 1.2em;
}
#y-5 .col-md-12,.col-md-10{
    margin-top: 20px;
}
#y-5 .col-md-2{
    border-right: 1px solid #E8E8E8;
    height: 200px;
    font-size: 1.2em;
}
.xlm{
    color: #ff9801;
    text-decoration: none;
    transition: color 0.5s;
    -moz-transition:color 0.5s;	/* Firefox 4 */
    -webkit-transition:color 0.5s;	/* Safari �� Chrome */
    -o-transition:color 0.5s;	/* Opera */
}
.xml:hover{
    color: red;
    text-decoration: none;
}
*{
    font-family: "Helvetica", "Microsoft YaHei", sans-serif;
}