<div class="alert alert-warning" role="alert">
    <h2><i class="fa fa-edit"></i>
        随笔：</h2>
</div>
<div class="col-md-12 alert alert-info  all-info" ng-repeat="info in infos" role="alert">
    <div>
        <a href="#/informalEssay/detail/{{info.id}}">
            <h2>{{info.title}}</h2>
        </a>
        <p>{{info.abstract}}
            <a href="{{info.href}}">阅读全文...</a>
        </p>
        <p class="text-r">{{info.time}}</p>
    </div>
</div>
<div ng-click="add()" class="col-md-12 button button-block button-rounded button-large more">{{loading}}</div>
<!--<div class="clearfix"></div>-->