body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:"幼圆","华文细黑","Helvetica","Comic Sans MS","黑体",sans-serif;
}
body{
    display: none;
}
*{
    margin: 0;
    padding: 0;
}
a{
    outline: none;
    text-decoration: none;
    border: none 0;
}
a img{
    border: 0 none;
}
li{
    list-style: none;
}

/*组件*/
.c1{
    width: 8.33333%;
}
.c2{
    width:16.666666%;
}
.c3{
    width: 25%;
}
.c4{
    width: 33.333%;
}
.c9{
    width: 75%;
}
.c7{
    width: 58.333333%;
}
.c6{
    width: 50%;
}
.c12{
    width: 100%;
}
.c2{
    width: 16.666%;
}
.c8{
    width: 66.666%;
}
.c5{
    width: 41.666%;
}
.c11{
    width: 91.666%;
}
.c10{
    width: 83.33333%;
}
.c3,.c9 ,.c12 ,.c6,.c2,.c4,.c5,.c11,.c1,.c7,.c8,.c10{
    position: relative;
    float: left;
}
.container{
    width: 970px;
    margin: 0 auto;
}
.full{
    width: 100%;
    min-width: 970px;
    padding: 0;
    margin: 0;
}
/*头部*/
.header{
    width: 100%;
    height: 100px;
    min-width: 970px;
    overflow: hidden;
    background-image: url("../img/center/1.png");
    background-size: 100% 100%;
}
.header img:hover{
    opacity: 0.8;
}
.header .c7 img{
    vertical-align: middle;
    margin-top: 21px;
}
.header .c5{
    text-align: right;
}
.header .c5 p{
    line-height: 100px;
    font-weight: 600;
}
.header .c5 .c3{
    top: 38px;
}
.header .c5 .c3 img{
    cursor: pointer;
}
/*内容*/

/*菜单*/
.menu{
    width: 226px;
    background: #EAEAEA;
    height: 300px;
}
.menu .c12{
    border-left: 3px solid #EAEAEA;
    height: 60px;
    margin-top: 30px;
}
.menu .c12 .c4{
    text-align: right;
    margin-top: 17px;
}
.menu .c12 .c8 p{
    margin-top: 17px;
    padding-left: 10px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
    color: #5c5c5c;
}
.menu .c12 .c8 p:hover{
    color: #0EB621;
}
.menu .wrap1 .c12:nth-child(2) {
    border-left: 3px solid #0EB621;
}
.menu .wrap1 div:nth-child(2) .c8 p{
    color: #0EB621;
}
/*课程卡片与添加*/
.course{
    margin: 10px 10px 10px 20px;
    width: 209px;
}
.course img{
    width: 100%;
}
#add{
    cursor: pointer;
}
#add img:hover,#submit img:hover{
    opacity: 0.7;
}
.tip p{
    color: #0EB621;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
/*进度条*/
.progress{
    height: 150px;
    background: #EAEAEA;
    margin-bottom: 10px;
}
.progress img, .progress p{
    position: relative;
    font-size: 18px;
    font-weight: 600;
}
.progress div:nth-child(1) img{
    left: 115px;
    top: 30px;
}
.progress div:nth-child(1) p{
    left: 115px;
    top: 31px;
    color: #0EB621;
}
.progress div:nth-child(2) img{
    top: 30px;
}
.progress div:nth-child(2) p{
    left: 127px;
    top: 30px;
    color: #0EB621;
}
.progress div:nth-child(3) img{
    top: 38px;
}
.progress div:nth-child(3) p{
    left: 127px;
    top: 46px;
    color: #5c5c5c;
}



/*菜单内容*/
.con{
    min-height: 900px;
    width: 970px;
    background: #EAEAEA;
    margin-bottom: 50px;
    padding-bottom: 50px;
}
.con .c10{
    margin-left: 92px;
}
.edit{
    text-align: right;
    margin-top: 30px;
}
.edit img{
    cursor: pointer;
}
.edit img:hover{
    opacity: 0.8;
}

.pic_tit{
    line-height: 50px;
    margin: 50px 0;
    text-align: center;
}
.pic_tit p{
    cursor: pointer;
}
.pic_tit div:nth-child(2) p{
    color: #0EB621;
    border-bottom: 2px solid #0EB621;
}
.pic_tit div:nth-child(3) p{
    color: #5c5c5c;
    border-bottom: 2px solid #5c5c5c;
}

.input{
    margin-top: 30px;
}
.input .c9 input {
    height: 28px;
    outline-color: #0EB621;
    width: 99%;
}
.input .c9 select{
    height: 32px;
    outline-color: #0EB621;
    width: 454px;
}

.pic{
    text-align: center;
    margin: 70px 0;
}
.pic img:nth-child(1){
    cursor: pointer;
}
.pic img:nth-child(2){
    cursor: pointer;
    position: absolute;
    left: 252px;
    top: 6px;
    border-radius: 50px;
    width: 100px;
}
.con .c10 p{
    color: #5c5c5c;
    font-size: 24px;
    font-weight: 600;
}
.basic{
    margin-top: 30px;
}
.basic .c9 p{
    color: #000;
}
.con_ok{
    text-align: right;
    margin-top: 30px;
}
.con_ok img{
    cursor: pointer;
}
.con_ok img:hover{
    opacity: 0.8;
}

.pic_btn{
    cursor: pointer;
}
.pic_btn:hover{
    opacity: 0.8;
}
.pic_btn2{
    display:none;
}
/*提交按钮锁定*/
#submit{
    opacity: 0.3;
    cursor: no-drop;
}
    /*底部*/
.footer{
    height: 82px;
    background: #151818;
    color: #fafafa;
}
.foo_logo{
    line-height: 20px;
}
.foo_logo img{
    padding-top: 14px;
}
.co_name{
    padding-top: 21px;
}
.foo_wx{
    text-align: center;
}
.foo_wx  img{
    padding-top: 11px;
}
.foo_wx p{
    font-size: 18px;
    padding-top: 20px;
}
.foo_call .c1{
    text-align:right;
}
.foo_call img{
    padding-top: 13px;
    top: 3px;
    position: relative;
}
.foo_call .call{
    width: 360px;
    margin-left: 30px;
    position: relative;
    top: 4px;
}
.foo_call .add{
    top: -6px;
}
.foo_call p{
    display: inline-block;
}
/*弹窗*/
/*弹窗*/
.fix_window{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background:rgba(0,0,0,0.9);
    z-index: 1000;
    opacity: 0.9;
    display: none;
}
.fix_wrap{
    background: #EAEAEA;
    font-family:"幼圆","Comic Sans MS","黑体",sans-serif;
    position:fixed;
    width: 450px;
    height: 500px;
    margin-top: -250px;
    top: 50%;
    left: 50%;
    margin-left: -225px;
    opacity: 1;
    z-index: 1000;
    border: 2px solid #0EB621 ;
    display: none;
    overflow: hidden;
}
.fix_wrap button:hover{
    opacity: 0.8;
}
.fix_title_wrap{
    background: #0EB621;
    height: 52px;
    text-align: center;
}
.fix_title_wrap .c10 p{
    color: #fff;
    line-height: 52px;
    font-size: 30px;
    font-weight:300;
}
.valid img{
    position: absolute;
    top: -1px;
    left: 151px;
    cursor: pointer;
}
.fix_title_wrap img{
    margin-top: 13px;
    text-align: left;
    cursor: pointer;
}
.fix_title_wrap img:hover{
    opacity: 0.8;
}
.cu_menu{
    height: 380px;
}
.cu_con{
    height: 385px;
    background: #ffffff;
}
.cu_menu li{
    color:#5c5c5c;
    height: 76px;
    line-height: 76px;
    text-align: center;
    border-bottom: 1px solid #E2DEDE;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.cu_menu li img{
    position: relative;
    top: 5px;
    right: 5px;
}
.cu_menu li:nth-child(1){
    background: #ffffff;
}
/*.cu_menu li:hover{*/
    /*background: #ffffff;*/
/*}*/
.cu_con li{
    font-size: 20px;
    line-height: 77px;
    color: #070707;
}
.cu_con li input{
    zoom: 180%;
    background: #0EB621;
    vertical-align:middle; margin-top:0;
    color: red;
    margin-left: 10px;
}
.cu_con li span{
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    margin-left: 20px;
}
.cu_con li small{
    float: right;
    display: inline-block;
    padding-right:5px;
}
.cu_con form:nth-child(2){
    display: none;
}
.cu_con form:nth-child(3){
    display: none;
}
.cu_con form:nth-child(4){
    display: none;
}
.cu_con form:nth-child(5){
    display: none;
}
    /*复选框*/






.cu_sub button{
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    width: 150px;
    height: 40px;
    background: #ffffff;
    color: #0EB621;
    border: 1px solid #0EB621;
    outline: none;
    border-radius: 10px;
    position: relative;
    left: 154px;
    top: 10px;
}
.cu_sub button:hover{
    opacity: 0.6;
}