body,html{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    display: none;
    overflow-x: hidden;
}
/*@font-face {*/
    /*font-family: youyuan;*/
    /*src: url('../fonts/youyuan.ttf'),*/
/*}*/
*{
/*font-family: youyuan;*/
    font-family:"微软雅黑","华文细黑","Helvetica","Comic Sans MS","黑体",sans-serif;
    margin: 0;
    padding: 0;
}
a{
    outline: none;
    text-decoration: none!important;
    border: none 0;
}
a img{
    border: 0 none;
}
li{
    list-style: none;
}

/*组件*/
.c1{
    width: 8.33333%;
}
.c2{
    width:16.666666%;
}
.c3{
    width: 25%;
}
.c4{
    width: 33.333%;
}
.c9{
    width: 75%;
}
.c7{
    width: 58.333333%;
}
.c6{
    width: 50%;
}
.c12{
    width: 100%;
}
.c2{
    width: 16.666%;
}
.c8{
    width: 66.666%;
}
.c5{
    width: 41.666%;
}
.c11{
    width: 91.666%;
}
.c10{
    width: 83.33333%;
}
.c3,.c9 ,.c12 ,.c6,.c2,.c4,.c5,.c11,.c1,.c7,.c8,.c10{
    position: relative;
    float: left;
    display: inline;
}
.container{
    padding: 0;
    width: 970px;
    margin: 0 auto;
}
.full{
    width: 100%;
    min-width: 970px;
    padding: 0;
    margin: 0;
}
.tip_box{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 50px;
    margin-left: -100px;
    margin-top: -50px;
    background: rgba(0,0,0,0.8);
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #ffffff;
    z-index: 100000;
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    border-radius:5px;
    display: none;
}
/*内容*/
.body_content1{
    margin-top: 30px;
    position: relative;
    right: -100%;
    opacity: 0;
    /*max-height:76%;overflow: hidden*/
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    /*top: -90px;*/
    /*-webkit-filter: blur(10px); /!* Chrome, Opera *!/*/
    /*-moz-filter: blur(10px);*/
    /*-ms-filter: blur(10px);*/
    /*filter: blur(10px);*/
}
@media only screen and (max-width:1300px){
    .swiper-slide img{
        top: 0;
    }
}
.swiper-container{
    /*display: block;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*float: left;*/
    /*position: relative;*/
    /*top: -90px;*/
}
.con2_bg{
    width: 100%;
    height: 60px;
    position: absolute;
}
.yy_btn h1{
    line-height: 60px;
    font-size: 26px;
    font-weight: 500;
    color: #404343;
}
.yy_btn img{
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 2px;
    width: 174px;
}
.yy_btn img:hover{
    opacity: 0.8;
}
.body_content3{
    opacity: 0;
    position: relative;
    left: -100%;
    overflow: hidden;
}
/*.body_content3 .con_wrap .c4:nth-child(1) .ih-item{*/
    /*left: -450px;*/
    /*opacity: 0;*/
/*}*/
/*.body_content3 .con_wrap .c4:nth-child(3) .ih-item{*/
    /*left: 450px;*/
    /*opacity: 0;*/
/*}*/
/*.body_content3 .con_wrap .c4:nth-child(2) .ih-item{*/
    /*opacity: 0;*/
/*}*/
.body_content3 a{
    cursor: pointer;
}
.ih-item.circle{
    margin: auto;
}
/*.body_content3 .con_wrap .c4{*/
    /*text-align: center;*/
/*}*/
/*.body_content3 .con_wrap div:nth-child(1) img{*/
    /*padding: 77px 0;*/
/*}*/
/*.body_content3 .con_wrap .c4 h1{*/
    /*fonts-size: 30px;*/
    /*fonts-weight:400;*/
    /*padding: 3px 0;*/
/*}*/
/*.body_content3 .con_wrap .c4 p{*/
    /*fonts-size: 20px;*/
    /*fonts-weight: 300;*/
    /*padding: 0 0 75px 0;*/
/*}*/
/*.body_content3 .con_wrap img{*/
    /*position: relative;*/
/*}*/
/*.body_content3 .con_wrap div:nth-child(2) img{*/
    /*padding: 101px 0;*/
/*}*/

/*.body_content3 .con_wrap div:nth-child(3) img{*/
    /*padding: 92px 0;*/
/*}*/
/*.body_content3 .con_wrap div img:hover{*/
    /*opacity: 0.8;*/
/*}*/
/*抖动*/
@keyframes shut
{
    0%   {left: 0px;}
    20%  {left: -25px;}
    40%  {left: 25px;}
    60% {left: -5px;}
    80% {left: 5px;}
    100% {left: 0px;}
}

@-moz-keyframes shut /* Firefox */
{
    0%   {left: 0px;}
    20%  {left: -25px;}
    40%  {left: 25px;}
    60% {left: -5px;}
    80% {left: 5px;}
    100% {left: 0px;}
}

@-webkit-keyframes shut /* Safari 和 Chrome */
{
    0%   {left: 0px;}
    20%  {left: -25px;}
    40%  {left: 25px;}
    60% {left: -5px;}
    80% {left: 5px;}
    100% {left: 0px;}
}

@-o-keyframes shut /* Opera */
{
    0%   {left: 0px;}
    20%  {left: -25px;}
    40%  {left: 25px;}
    60% {left: -5px;}
    80% {left: 5px;}
    100% {left: 0px;}
}
.shut{
    animation:shut 0.5s;
    -moz-animation:shut 0.5s; /* Firefox */
    -webkit-animation:shut 0.5s; /* Safari and Chrome */
    -o-animation:shut 0.5s; /* Opera */
}
.body_content4{
    background: #ffffff;
    /*height: 520px;*/
}
/*.body_content4 .img_wrap img{*/
    /*position: absolute;*/
    /*transition: transform 0.3s;*/
    /*-ms-transition: transform 0.3s;*/
    /*-moz-transition: transform 0.3s;	/!* Firefox 4 *!/*/
    /*-webkit-transition: transform 0.3s;	/!* Safari 和 Chrome *!/*/
    /*-o-transition: transform 0.3s;*/
/*}*/
/*/!*缩放*!/*/
/*.body_content4 .img_wrap img:hover{*/
    /*transform: scale(1.4,1.4);*/
    /*-ms-transform: scale(1.4,1.4);*/
    /*-webkit-transform: scale(1.4,1.4);*/
    /*-moz-transform: scale(1.4,1.4);*/
    /*-o-transform: scale(1.4,1.4);*/
/*}*/
.img_wrap{
    position: relative;
}
.body_content4 .img_wrap :nth-child(1){
    top: 108px;
    left: 806px;
}
.body_content4 .img_wrap :nth-child(2){
    top: 290px;
    left: 300px;
}
.body_content4 .img_wrap :nth-child(3){
    top: 360px;
    left: 390px;
}
.body_content4 .img_wrap :nth-child(4){
    top: 310px;
    left: 760px;
}
.body_content4 .img_wrap :nth-child(5){
    top: 97px;
    left: 313px;
}
.body_content4 .img_wrap :nth-child(6){
    top: 180px;
    left: 450px;
}
.body_content4 .img_wrap :nth-child(7){
    top: 380px;
    left: 650px;
}
.body_content4 .img_wrap :nth-child(8){
    top: 100px;
    left: 600px;
}
.body_content4 .img_wrap :nth-child(9){
    top: 300px;
    left: 600px;
}
.body_content4 .img_wrap :nth-child(10){
    top: 200px;
    left: 630px;
}
.body_content4 .img_wrap :nth-child(11){
    top: 260px;
    left: 100px;
}
.body_content4 .img_wrap :nth-child(12){
    top: 160px;
    left: 100px;
}


.body_content5{
    text-align: center;
}
.con5_wrap  h1{
    font-size: 50px;
    font-weight: 500;
    padding: 74px 0;
}
.con5_wrap .c6 h2{
    font-size: 22px;
    font-weight: 500;
    padding: 40px 0;
}
.con5_wrap .c6{
    height: 440px;
}
.con5_wrap .c6 a{
    display: block;
    padding-bottom: 75px;
}
.body_content5 .sca_abs img:hover{
    /*background-color: #eeeeee;*/
    opacity: 1;
    left: 180px;
}
.sca_img{
    width: 194px;
    height: 193px;
}
.sca_img img{
    width: 200px;
    position: relative;
    left: 139px;
    /*transition: transform 0.4s;*/
    /*-moz-transition: transform 0.4s;*/
    /*-webkit-transition: transform 0.4s;*/
    /*-o-transition: transform 0.4s;*/
    padding: 10px;
    border: 1px solid #ccc;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.sca_abs{
    position: absolute;
}
.sca_abs img{
    opacity: 0;
    z-index: 999;
    cursor: pointer;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s,left .5s;
    padding-bottom: 0;
    height: 200px;
    border: none;
}
/*拉动*/
.addfix{
    position: fixed;
    top: 0;
    z-index: 99;
    display: none;
}
/*q*/
.footer{
    height: 82px;
    background: #151818;
    color: #fafafa;
}
.foo_logo{
    line-height: 20px;
}
.foo_logo img{
    padding-top: 17px;
}
.co_name{
    padding-top: 18px;
}
.foo_wx{
    text-align: center;
}
.foo_wx  img{
    padding-top: 12px;
}
.foo_wx p{
    font-size: 18px;
    padding-top: 17px;
}
.foo_call .c1{
    text-align:right;
}
.foo_call img{
    padding-top: 17px;
    /*top: 3px;*/
    position: relative;
}
.foo_call .call{
    width: 360px;
    margin-left: 30px;
    position: relative;
   padding-top: 12px;
}
.foo_call .c11{
    margin-top: 6px;
}
.foo_call .call img{
    padding-top: 0;
}
.foo_call .add{
    top: -6px;
}
.foo_call p{
    display: inline-block;
    line-height: 4px;
}
/*弹窗*/
.fix_window{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background:rgba(0,0,0,0.9);
    z-index: 1000;
    opacity: 0.9;
    display: none;
}
/*注册窗口*/
.fix_wrap{
    font-family:"幼圆","华文细黑","Helvetica","Comic Sans MS","黑体",sans-serif;
    position:fixed;
    width: 450px;
    height: 500px;
    margin-top: -250px;
    top: 50%;
    left: 50%;
    margin-left: -225px;
    opacity: 1;
    z-index: 1000;
    border: 2px solid #f8a76c ;
    display: none;
}
.fix_wrap button:hover{
    background-color:#FF8B37;
}
.fix_title_wrap{
    background:  #f8a76c;
    height: 52px;
    text-align: center;
}
.fix_title_wrap .c10 p{
    color: #fff;
    line-height: 52px;
    font-size: 30px;
    font-weight:300;
}
.valid img{
    position: absolute;
    top: -1px;
    left: 151px;
    cursor: pointer;
}
.fix_title_wrap img{
    margin-top: 13px;
    text-align: left;
    cursor: pointer;
}
.fix_title_wrap img:hover{
    opacity: 0.8;
}
.sex .man,.sex .woman{
    display: inline-block; width: 10px;height: 10px;border: 1px solid  #f8a76c;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    background: #f8a76c;cursor: pointer;
}
.sex .woman{
    background: none;
}
.fix_form{
    height: 448px;
    background: white;
    color:#F8A76C;
}
.fix_form .c10{
    margin-left: 37px;
    padding: 27px 0 0 0;
}
.fix_form .c10 .c3{
    text-align: center;
    font-size: 20px;
}
.fix_form .c10 .c9 select{
    width: 90%;
    height: 28px;
    outline-color:  #f8a76c;
}
.fix_form .c10 .c9{
    left: 20px;
}
.fix_form .c10 .c9 input{
    width: 248px;
    height: 28px ;
    outline-color:  #f8a76c;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #A1A1A1;
    text-align: center;
}
.fix_form .c10 button{
    background: #f8a76c;
    height: 40px;
    width: 357px;
    color: #fff;
    border: none;
    font-size: 24px;
    margin-left: 11px;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.pass{
    left: 5px;
    top: -11px;
}
.pass p{
    text-align: center;
    font-size: 12px;
}
.pass p a{
    color:  #f8a76c;
}

/*预约确认*/
.yy_ok{
    height: 247px;
    border: 2px solid #929292;
    -webkit-border-radius:3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    top: 47px;
    width: 330px;
    left: 60px;
}
.ok_wrap{
    display: none;
}
.yy_ok p{
    padding: 10px 10px 0 15px;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
}
#yy_ok{
    background: #F8A76C;
    padding: 8px 150px;
    color: #fff;
    border: none;
    font-size: 26px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 87px;
    position: relative;
    left: 50px;
    display: inline-block;
}
/*预约动画*/
.set{
    position: relative;
    font-weight: 400;
    text-align: center;
    width: 200px;
    line-height: 45px;
    overflow: hidden;
    z-index: 0;
    color: #FFFFFF;
    /*background: #b9ccd2;*/
    cursor: pointer;
    left: 300px;
    opacity:0;
}
.yy_tit{
    left: -700px;
    position: relative;
    opacity: 0;
}
.anim{
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;}
.anim:before {
    position: relative;
    content: '';
    display: block;
    margin-top: 100%;
    background: #6CB1FF;
}

.anim:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-border-radius:50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.hoverable:hover > .anim:after {
    -webkit-animation: anim-out-pseudo 0.75s;
    animation: anim-out-pseudo 0.75s;
}
.set:hover>.anim{
    -webkit-animation: anim-out 0.75s;
    animation: anim-out 0.75s;}
@-webkit-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@-webkit-keyframes anim-out{
    0% {width: 0%;}
    100%{width: 100%;}
}
/*拉动*/
.addfix{

     position: fixed;
    top: 0;
    z-index: 99;
    display: none;
}
/*特色*/
.info1{
    background-image: url("../img/tc_home/b1.png")!important;
    background-size: 100% 100%!important;
}
.info2{
    background-image: url("../img/tc_home/b2.png")!important;
    background-size: 100% 100%!important;
}
.info3{
    background-image: url("../img/tc_home/b3.png")!important;
    background-size: 100% 100%!important;
}
.con_spe{
    background-image: url("../img/tc_home/bgc.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1100px;
    padding-top: 80px;
}
.spe_text{
    text-align: center;
    padding-top: 80px;
}
.spe_text .span1{
    font-size: 28px;
}
.spe_text .span2{
    font-size: 36px;
    color: #ff7a30;
}
.spe_text .span3{
    font-size: 28px;
    color: #6cc9ff;
}
.spe_text img{
    padding-top: 80px;
}
/*功能*/
.con8_wrap{
    height: 1100px;
}
.bg_wrap{
    position: absolute;
    overflow: hidden;
    text-align: center;
}
.bg_wrap img{
    padding-top: 100px;
    margin-right: 110px;

}
.liu_nav p{
    font-size: 30px;
    /*font-weight: 600;*/
    line-height: 51px;
    color: #5fc3fd;
    padding-left: 34px;
}
.liu_nav p:before{
    content: "|";
}
.liu_nav{
    padding-top: 50px;
    opacity: 0;
}
.server .li_nav{
    opacity: 0;
    line-height: 50px;
    text-align: center;
}
.li_nav i{
    color: #5fc3fd;
    font-size: 20px;
}
.li_nav .c6 p{
    display: inline-block;
    font-size: 28px;
    color: #404343;
}
.li_nav .c6 p:nth-last-child(1){
    font-size: 26px ;
    font-weight: 300;
    color: #404343;
}
.server{
    padding-top: 30px;
}
.ser_path{
    padding-top: 100px;
}
/*回到顶部*/
.btnb{
    position: fixed;
    bottom: 90px;
    left: 100%;
    font-size: 40px;
}
.btnb i{
    color: #020202;
    border: 2px solid #000;
    padding: 4px 10px 5px;
    background: #FEFDFF;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background .3s ,color .3s,border .3s;
    -moz-transition:background .3s ,color .3s,border .3s;
    -ms-transition: background .3s ,color .3s,border .3s;
    -o-transition: background .3s ,color .3s,border .3s;
    transition: background .3s ,color .3s,border .3s;
}
.btnb i:hover{
    background: #8cc4cc;
    color: #ffffff;
    border: 2px solid #8cc4cc;
}
.btnb_ani{
    animation:fangun 1s;
    left: 90%;
    transform: rotate(360deg);
}
.btnb_ani2{
    animation:fangun2 1s;
    left: 100%;
    transform: rotate(360deg);
}
@keyframes fangun2
{
    from {left:90%;transform: rotate(0deg)}
    to {left:100%;transform: rotate(360deg)}
}
@keyframes fangun
{
    from {left:100%;transform: rotate(360deg)}
    to {left:90%;transform: rotate(0deg)}
}

@-moz-keyframes fangun /* Firefox */
{
    from {left:100%;}
    to {left:90%;}
}

@-webkit-keyframes fangun /* Safari and Chrome */
{
    from {left:100%;}
    to {left:90%;}
}

@-o-keyframes fangun /* Opera */
{
    from {left:100%;}
    to {left:90%;}
}
/*关于我们*/
.con1{
    /*background: rgb(250 ,250 ,250);*/
    /*padding-bottom: 30px;*/
}
.con1_wrap{
    height: 1000px;
    background-image: url("../img/tc_home/bg4.png");
    background-size: 100%;
}
.con1_wrap .gy .c2{
    font-size: 32px;
}
.gy{
    padding-top:50px;
}
.gy p{
    font-size: 30px;
    /*font-weight: 600;*/
    line-height: 51px;
    color: #5fc3fd;
    padding-left: 34px;
}
.gy p:before{
    content: "|";
}
.about_us{
    text-align: center;
   padding-top: 40px;
}
.about_us p{
    cursor: pointer;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 45px;
    opacity: 0.9;
    -webkit-transition: background .8s,font-size .8s;
    -moz-transition: background .8s,font-size .8s;
    -ms-transition: background .8s,font-size .8s;
    -o-transition: background .8s,font-size .8s;
    transition: background .8s,font-size .8s;
}
.about_us p:hover{
    font-size: 23px;
    background: rgba(8,128,215,.6);
}
.about_us p:nth-last-child(1){
    font-size: 32px;
    background-image: url("http://aust.uustudy.com.cn/dist/img/boxed-bg.jpg");
}
.about_us span{
    color: #FFFFFF;
    font-weight: 600;
}
.join{
    margin-top: 95px;
}
.join_us{
    text-align: center;
}
.join_us p{
    padding-bottom: 30px;
    color: #FFFFFF;
    padding-top: 40px;
    font-size: 32px;
    font-weight: 100;
    opacity: 0.9;
}
.join_us div:nth-child(1) img{
    position: relative;
    left: 100px;
    /*left: 145px;*/
    /*z-index: 10000;*/
}
.join_us div:nth-child(2) img{
    position: relative;
    right: 100px;
}

/*家长个人中心*/
.par_tit{
    overflow: hidden;
    width: 232px;
    height: 330px;
    border-radius: 10px;
    border: 5px solid #A5CBF6;
    /*background-image: url("../img/tc_home/323.png");*/
    background-size: 100% 100%;
    /*border-bottom: 1px solid #c5c5c5;*/
    /*border-top: 1px solid #54C5F5;*/
    /*border: 1px solid #CCC;*/
    left: 10px;
}
/*个人中心*/
.pr_center{
    width: 242px;
    height: 340px;
    /*left: 5px;*/
    background-image: url("../../img/tc_home/323.png");
    background-size: 100% 100%;
}
.pr_im{
    text-align: center;
}
.pr_im img{
    /*margin-top: 20px;*/
    width: 80px;
    height: 80px;
    -webkit-border-radius:50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.pr_name{
    text-align: center;
    color: #A1A1A1;
    margin-top: 10px;
}
.pr_name p{
    padding: 0;
    margin: 0;
    font-size: 15px;
}
.pr_order{
    /*margin-top: 7px;*/
    text-align: center;
}
.pr_order a{
    display: block;
    font-size: 16px;
    color: #A1A1A1;
    margin: 5px 0;
    padding: 0;
}
.pr_order a span:nth-child(1){
    border-left: 2px solid #7AC1F5;
    display: inline-block;
    height: 16px;
    position: relative;
    top: 3px;
    right: 10px;
}
.pr_order a span:nth-child(2){
    color: #F6970E;
}
.pr_order a:hover{
    color: #0a74f6;
}
.center_rk{
    margin-top: 5px;
    text-align: right;
    height: 21px;
}
.center_rk a{
    color:#A1A1A1 ;
    font-size: 15px;
    margin-right: 10px;
}
.center_rk a:hover{
    color: #1B9AF7;
}
.yuyue a:nth-child(1){
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 10px;
    width: 90%;
    height: 140px;
    line-height: 140px;
    margin-top: -14px;
    margin-left: 5%;
}
.yuyue a:nth-child(2){
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 10px;
    width: 90%;
    height: 140px;
    line-height: 140px;
    margin-top: 20px;
    margin-left: 5%;
}

.lubo_box li img {
    width: 100%;
    border-radius: 10px;
}
.yuyue{
    margin-top: 25px!important;
}
.yuyue a i{
    position: absolute;
    left: 33px;
    padding-top: 60px;
}

.login_title{
    left: 8%;
    top: 20px;
    text-align: center;
    font-size: 18px;
}
.login_title .c6{
    color: #c5c5c5;
    width: 50%;
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 2px solid #c5c5c5;
}
.login_title div:nth-child(1){
    border-bottom: 2px solid  #54C5F5;
    color: #54C5F5;
}
.con_wrap_l{
    height: 222px;
    position: relative;
    margin-top: 40px;
    left: 8%;
}
.con_wrap_l .input i{
    position: absolute;
}
.con_wrap_l .input{
    width: 100%;
    height: 30px;
    border: 1px solid #54C5F5;

}
.con_wrap_l .input input{
    width: 78%;
    height: 28px;
    outline: none;
    border: none;
    margin-left: 30px;
}
.con_wrap_l div:nth-child(1) i{
    left: 13px;
    top: 7px;
    color: #A1A1A1;
}
.con_wrap_l div:nth-child(1){
    margin-bottom: 20px;
}
.con_wrap_l div:nth-child(2) i{
    left: 13px;
    top: 7px;
    color: #A1A1A1;
}
.forget p{
    color: #A1A1A1;
    text-align: right;
    cursor: pointer;
    padding-top: 2px;
    font-size: 13px;
}
.down_wrap{
    margin-top: 20px;
}
.login_tip{
    color: #A1A1A1;
    padding-top: 28px;
    font-size: 13px;
}
.line_b{
    position: absolute;
    top: 24px;
    left: -17px;
}
.tc_er{
    left: 35px;
    top: 26px;
}
.tc_er_title{
    font-size: 18px;
    color:#54C5F5;
    left: 42px;
    top: 51px;
}
.con_wrap img:hover{
    opacity: 0.9;
}

/*登录按钮*/
.hid{
    display: none;
}

#log_btn{

    width: 100%;
    height: 30px;
    line-height: 29px;
}
#res_btn{
    width: 100%;
    height: 30px;
    line-height: 29px;
}
/*special*/
.special{
    top: 40px;
    text-align: center;
}
.special .c3 .c8{
    top: 8px;
}
.spe_bg{
    background:rgba(255,255,255,0.6);
    height: 230px;
}
.special p{
    text-align: center;
    margin-top: 5px;
}
/*找老师窗口*/
.fix_wrap_find{
    display: none;
    z-index: 1000;
    width: 340px;
    height: 330px;
    position: fixed;
   border: 2px solid #5FBBFF;
    background: #FFFFFF;
    top: 50%;
    left: 50%;
    margin-left: -170px;
    margin-top: -165px;
}
.fix_wrap_find p{
   margin-bottom: 2px;
    color: #FFFFFF;
}
.fix_wrap_find .findtit{
    text-align: center;
    font-size: 30px;
    line-height: 55px;
    background:  #5FBBFF;
}
.fix_wrap_find .find_close{
    color: #FFFFFF;
    position: absolute;
    left: 300px;
}
.fix_wrap_find .find_close:hover{
    color: #CCCCCC;
    cursor: pointer;
}
.fix_wrap_find .findabout{
    padding: 50px 60px;
}
.fix_wrap_find .findabout p{
    color: #5FBBFF;
    font-size: 15px;
}
.fix_wrap_find .findbutton{
    text-align: center;
    padding-top: 30px;
}
 .fix_wrap_find .findbutton a{
    height: 40px;
    line-height: 40px;
    width: 200px;
}
/*发需求窗口*/
.fix_wrap_need{
    display: none;
    z-index: 1000;
    width: 340px;
    height: 330px;
    position: fixed;
    border: 2px solid #FEAE1B;
    background: #FFFFFF;
    top: 50%;
    left: 50%;
    margin-left: -170px;
    margin-top: -165px;
}
.fix_wrap_need p{
    margin-bottom: 2px;
    color: #FFFFFF;
}
.fix_wrap_need .needtit{
    text-align: center;
    font-size: 30px;
    line-height: 55px;
    background:  #FEAE1B;
}
.fix_wrap_need .need_close{
    color: #FFFFFF;
    position: absolute;
    left: 300px;
}
.fix_wrap_need .need_close:hover{
    color: #CCCCCC;
    cursor: pointer;
}
.fix_wrap_need .needabout{
    padding: 47px 60px;
}
.fix_wrap_need .needabout p{
    color: #FEAE1B;
    font-size: 17px;
}
.fix_wrap_need .needbutton{
    text-align: center;
    padding-top: 30px;
}
.fix_wrap_need .needbutton a{
    height: 40px;
    line-height: 40px;
    width: 200px;
}