body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:"幼圆","华文细黑","Helvetica","Comic Sans MS","黑体",sans-serif;
}
/*body{*/
    /*display: none;*/
/*}*/
*{
    margin: 0;
    padding: 0;
}
a{
    outline: none;
    text-decoration: none;
    border: none 0;
}
a img{
    border: 0 none;
}
li{
    list-style: none;
}

/*���*/
.c1{
    width: 8.33333%;
}
.c2{
    width:16.666666%;
}
.c3{
    width: 25%;
}
.c4{
    width: 33.333%;
}
.c9{
    width: 75%;
}
.c7{
    width: 58.333333%;
}
.c6{
    width: 50%;
}
.c12{
    width: 100%;
}
.c2{
    width: 16.666%;
}
.c8{
    width: 66.666%;
}
.c5{
    width: 41.666%;
}
.c11{
    width: 91.666%;
}
.c10{
    width: 83.33333%;
}
.c3,.c9 ,.c12 ,.c6,.c2,.c4,.c5,.c11,.c1,.c7,.c8,.c10{
    position: relative;
    float: left;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.full{
    width: 100%;
    padding: 0;
    margin: 0;
}
/*头部*/
.header{
    text-align: center;
    line-height: 60px;
    background-image: url("../img/tc_home/1.png");
}
.logo img,.menu_btn{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
.con{
    overflow: hidden;
}
.con img{
   width: 100%;
}
.con2{
    text-align: center;
    background-image: url("../img/tc_home/6.png");
    line-height: 50px;
    margin-top: -5px;
}
.con3{
    text-align: center;
    margin-top: 30px;
}
.con3 img{
    width: 100%;
    padding-top: 30px;
}
.con3 h3, .con3 p{
    margin-top: 5px;
}
.footer{
    margin-top: 30px;
    padding-bottom:50px;
}
.footer p{
    text-align: center;
    font-size: 13px;
    line-height: 20px;
}
.yy{
    width: 100%;
    position: fixed;
    bottom: 30px;
}
.yy img{
    width: 50%;
    display: block;
    margin: auto;
}
/*菜单*/
.menu{
    height: 240px;
    background: rgba(0,0,0,0.7);
    position: absolute;
    text-align: center;
    display: none;
    z-index: 100000;
}
.menu h2{
    line-height: 60px;
    color: #ffffff;
}
.menu_btn:hover{
    opacity: 0.8;
}
.menu_btn {
    height: 27px;
}

/*内容*/

/*.con1_wrap{*/
    /*height: 1100px;*/
/*}*/

.gy{
    margin-top:50px;
    line-height: 50px;
    z-index: 0;
}
.gy img{
    vertical-align: middle;
}
.gy span{
    font-size: 25px;
    color: #0a74f6;
    font-weight: 200;
    opacity: 0.6;
}
.about_us{
    text-align: center;
    margin-top: 30px;
}
.about_us p{
    color: #404343;
    font-size: 17px;
    line-height: 45px;
    opacity: 0.9;
}
.about_us p:nth-last-child(1){
    font-size: 20px;
}
.about_us span{
    color: #070707;
    font-weight: 600;
}
.join{
    margin-top: 95px;
}
.join_us{
    text-align: center;
}
.join_us p{
    padding-bottom: 50px;
    color: #404343;
    margin-top: 50px;
    font-size: 19px;
    font-weight: 100;
    opacity: 0.9;
    line-height: 30px;
}
.join_us div:nth-child(1){
    /*left: 160px;*/
}
.join_us div:nth-child(2){
    /*left: -50px;*/
}
.jo{
    text-align: center;
    padding-bottom: 50px;
}
.jo a img{
    width: 60px;
}