body{
    background: #F8F8F8;
    font-family: Microsoft Yahei;
    width: 100%
}

/*品名价格*/
.m-pm{
    text-align: center;
    background: #ffffff
}
.m-jg{
    color:#ff9801;
    margin-bottom: 0
}
/*选择尺寸*/
.m-cc{
    width: 80%;
    height: 50px;
    margin: auto
}
.m-cc-a{
    width: 40%;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: left;
    font-size: 1.2em
}
.m-cc-b{
    width: 60%;
    float: left;
    height: 50px
}
.m-cc-b select{
    height: 30px;
    margin-top: 10px;
    width: 90%;
    float: right
}
.m-ljgm{
    width: 80%;
    height: 90px;
    margin: auto
}
.m-ljgm button{
    width: 100%;
    background:#ff9801;
    height: 60px;
    border: none;
    color: #ffffff;
    border-radius: 50px;
    margin-top: 20px;

}
/*产品描述*/
.m-ms{
    width: 100%;
    background:#ffffff;
    margin-top: 1em;
    text-align: center
}
.m-msa{
    margin-bottom: 0 ;
    background: #ffffff;
    border-top:  1px solid #D0D0D0;
    line-height: 3em
}
.m-msb{
    background: #ffffff;
    color: #D0D0D0;
    margin-bottom: 0
}
.m-ms img{
    width: 100%
}
.m-ljgm button{
    font-size: 1.3em;
}
.m-cc-b select{
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
    /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
    /*border: 1px solid #888888;*/
    /*border-radius: 10px;*/
    background: #FFF;
}
