body{
    width: 100%;
    background: #F8F8F8;
    font-family: Microsoft Yahei;
}

/*二级导航*/
.m-xl{
    width: 20%;
    float: left;
    text-align: center;
    line-height: 40px
}
.m-xl a {
    color:#C0C0C0;
    text-decoration:none
}
/*产品列表*/
.m-lb{
    padding-top: 55px;
    width: 100%
}
.m-lb-a{
    width: 48.5%;
    float: left;
    margin-left:1%;
    margin-top: 10px;
    padding-top:6px;
    text-align: center;
    background: #ffffff;

}
.m-lb-a img{
    width: 100%;
}
.m-lb-a p{
    color: #C0C0C0
}
/*底部*/
.m-ft{
    text-align: center;
    font-size: 0.6em;
    line-height: 3em
}
.m-ft p{
    color: #888888;
    height: 80px;
    display: block;
}

