body,html,div,img{
    padding: 0;
    margin: 0;
    font-family: 'helvetica neue',\5FAE\8F6F\96C5\9ED1,tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5B8B\4F53,sans-serif;
}

/*导航*/
.nav{
    text-align: center
}
.nav a{
    font-size: 18px;
    color:#585858;
    text-decoration: none;
}
.nav a:hover{
    color: #64c972;
}
/*快捷*/
.tec a{
    font-size: 16px;
    color: #505050;
}
.tec a:hover{
    color: #64c972;
}
.fl img{
    position: relative;
    width: 100%;
    transition: transform  0.8s;


}
.fl img:hover{
    transform:scale(1.3,1.3)
}
.fl-a{
    overflow: hidden;
}

.chakan{
    padding: 10px 50px;
    background: hotpink;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px
}
.chakan:hover{
    color: #ffffff;
    background: #64c972 ;
}