body,html{
    padding: 0;
    margin: 0;
    font-family: 'helvetica neue',\5FAE\8F6F\96C5\9ED1,tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5B8B\4F53,sans-serif;
}
.nav{
    width: 100%;
    min-width: 1230px
}
.dd p{
    line-height: 40px;
    margin: 0;
}
.ee p{
    line-height: 80px;
    padding-left: 120px;
    margin: 0;
    font-size: 20px;
}
.weanquan{
    font-size: 14px;
    margin-top:8px;
    line-height: 30px;
    color: #B8B8B8
}
.wezhifu{
    font-size: 18px;
    margin: 0;
    padding-top: 10px
}
.weshouyin{
    font-size: 35px;
    line-height: 60px;
    padding-top: 10px;
    font-weight: 500
}
.logo{
    height: 70px;
    padding-top: 10px
}