body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:"幼圆","华文细黑","Helvetica","Comic Sans MS","黑体",sans-serif;
}
html{
    font-size: 62.5%;
}
@media only screen and (min-width: 320px){
    html {
        font-size: 125%!important;
    }
}
@media only screen and (min-width:370px){
    html {
        font-size: 145%!important;
    }
}
@media only screen and (min-width:400px){
    html {
        font-size: 160%!important;
    }
}
@media only screen and (min-width:500px){
    html {
        font-size: 300%!important;
    }
}
body{
    font-size: 14px;
}
/*body{*/
    /*display: none;*/
/*}*/
*{
    margin: 0;
    padding: 0;
}
a{
    outline: none;
    text-decoration: none;
    border: none 0;
}
a img{
    border: 0 none;
}
li{
    list-style: none;
}

/*组件*/
.c1{
    width: 8.33333%;
}
.c2{
    width:16.666666%;
}
.c3{
    width: 25%;
}
.c4{
    width: 33.333%;
}
.c9{
    width: 75%;
}
.c7{
    width: 58.333333%;
}
.c6{
    width: 50%;
}
.c12{
    width: 100%;
}
.c2{
    width: 16.666%;
}
.c8{
    width: 66.666%;
}
.c5{
    width: 41.666%;
}
.c11{
    width: 91.666%;
}
.c10{
    width: 83.33333%;
}
.c3,.c9 ,.c12 ,.c6,.c2,.c4,.c5,.c11,.c1,.c7,.c8,.c10{
    position: relative;
    float: left;
}
.container{
    width:90%;
    margin: 0 auto;
}
.full{
    width: 100%;
    padding: 0;
    margin: 0;
}



.nav{
    background: #F5F5F5;
    line-height: 1.5rem;
    font-size: .7rem;
    font-weight: 600;
    text-align: left;
}
.nav_con{
    font-size: .4rem;
}
.right{
    text-align: right;
}




.tit{
    font-size: .7rem;
    line-height: 1rem;
}
.time{
    font-size: .6rem;
    color: #787C80;
    line-height: .5rem;
}
.add{
    font-size: .8rem;
    line-height:1.5rem ;
    color: #0EB621;
    text-align: left;
    padding-top: .1rem;
}
.count{
    text-align:center;
    line-height: 1.5rem;
    font-size: .8rem;
    left: .2rem;
}
.msg_wrap{
    /*left: .76rem;*/
    margin-top: -.1rem;
    padding: .3rem 0;
    border-bottom: 1px solid #B3B8BD;
    width: 107%;
}
/*.hr{*/
    /*border-bottom: 1px solid #B3B8BD;*/
    /*left: .9rem;*/
/*}*/